<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
		<listeners>
		<listener class-name="org.sap.Listeners.ListenersClass"></listener>
		<listener class-name="org.sap.Listeners.MethodInterceptor"></listener>
		<listener class-name="org.sap.Listeners.AnnotationTransFormer"></listener>
	</listeners>
  <test name="test">
	  <classes>
		  <class name="com.runner.TestRunner"></class>
	  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
